# Clase 1

In [1]:
print("hola mundo")

hola mundo

In [2]:
mi_nombre = "Angel Téllez"

In [3]:
print(mi_nombre)

Angel Téllez

In [4]:
mi_edad = 17
mi_correo = "angeltellez320@aragon.unam.mx"
mi_altura = 1.65

In [5]:
print(mi_correo)

angeltellez320@aragon.unam.mx

In [6]:
print(mi_edad)

17

In [7]:
print(mi_altura)

1.65

In [8]:
valor_1 = 35
valor_2 = 10

In [9]:
valor_1 + valor_2

45

In [10]:
suma = valor_1 + valor_2

In [11]:
print(suma)

45

In [13]:
resta = valor_1 - valor_2
multiplicacion = valor_1 * valor_2
division = valor_1 / valor_2

In [14]:
print(resta)
print(multiplicacion)
print(division)

25
350
3.5

## format

In [15]:
print(f'La suma de {valor_1} y {valor_2} es de {suma}')

La suma de 35 y 10 es de 45

In [16]:
input("dame un valor")

In [4]:
valor_1 = input("dame un valor")

In [5]:
print(valor_1)
valor_1 *3

20

'202020'

In [6]:
valor_1 = int(input("dame un valor"))
print(valor_1)
valor_1*3

20

60

In [7]:
valor_1 = int(input('dame un valor 1'))
valor_2 = int(input('dame un valor 2'))
suma = valor_1 + valor_2 
print(f'la suma de {valor_1} y {valor_2} es {suma}')

la suma de 30 y 40 es 70

In [8]:
35 >= 42

False

In [9]:
20 <= 15

False

In [10]:
55 >= 54

True

In [11]:
22 <= 22

True

In [12]:
5 == 5

True

In [14]:
if 1.60 > 1.20:
    print("puedes pasar")
else:
    print("no puedes subir")

puedes pasar